@mixin placeholder-color($color)
	&::-webkit-input-placeholder /* WebKit browsers */
			color: $color
	&:-moz-placeholder /* Mozilla Firefox 4 to 18 */
			color: $color
	&::-moz-placeholder /* Mozilla Firefox 19+ */
			color: $color
	&:-ms-input-placeholder /* Internet Explorer 10+ */
			color: $color

$theme-black: #1A1A1A
$theme-grey: #757575
$theme-green: #00C99C

html
	overflow-y: hidden
	margin: 0
	padding: 0

body
	margin: 0
	padding: 0

.app
	display: flex
	flex-direction: row
	padding: 0
	margin: 0
	overflow: hidden

.sidebar
	display: flex
	flex-direction: column
	align-items: center
	width: 70px
	height: 100vh
	background-color: #1A1A1A
	margin: 0



.home-icon
	color: #FFFFFF
	font-size: 40px
	padding: 10px
	&:hover
		color: #00C99C




.writingCom
	display: flex
	flex-direction: column
	justify-content: space-around
	width: 100vw
	height: 100vh
	margin: 0
	padding: 0
	// font-family:

	.whole
		display: flex
		height: 100%
		flex-direction: row
		font-size: 0
		// background: red
		margin: 0
		padding: 0

		.editBar
			display: flex
			flex-direction: column
			align-items: center
			// justify-content: center
			width: 30vw
			padding: 20px
			// background-color: #1A1A1A
			// background-color: black
			box-sizing: border-box
			// border-left: 3px solid #1A1A1A
			// border-radius: 4px
			color: white
			.variableInput
				margin: 5px
				padding: 5px
      	// border: none
				border-top: none
				border-right: none
				border-left: none
      	border-bottom: 2px solid grey
				outline: none
			.select-button
				border: none
				outline: none
				width: 60%
				margin: 5px
				padding: 5px
				min-width: 26%
				&:hover
					// color: white
					background-color: $theme-green

	.prevContainer
		display: flex
		flex-direction: row
		justify-content: center
		align-items: center
		height: 20vh
		max-height: 150px
		min-height: 140px
		background-color: #757575
		width: 100%
		padding: 0
		margin: 0
		overflow-x: hidden
		overflow-y: hidden
		white-space: nowrap
		.files
			position: relative
			width: 100%
			height: 100%
			min-height: 140px
			overflow-x: auto
			overflow-y: hidden
			white-space: nowrap
			padding-right: 65px
			.tinyPrev
				display: inline-block
				box-sizing: border-box
				border: 3px solid #ccc
				border-radius: 4px
				height: 80%
				width: 10%
				min-width: 75px
				min-height: 100px
				max-width: 90px
				max-height: 120px
				font-size: 12px
				word-wrap: break-word
				overflow-wrap: break-word
				white-space: normal
				background-color: white
				margin: 10px
				overflow-y: hidden
				.delete
					opacity: 0
					float: right
					padding-right: 5px
					padding-top: 3px

				&:hover
					.delete
						opacity: 1
				.title
					margin: 0
					padding: 5px
				.par1
					margin: 0
					padding: 5px
					font-size: 10px
			.active
				border-color: #00C99C

	.writing
		display: flex
		align-content: center
		justify-content: center
		height: 80vh
		width: 95%
		overflow: auto
		margin: 0
		padding: 0
		.content
			display: flex
			align-items: center
			// justify-content: center
			flex-direction: column
			margin: 0
			padding-top: 10px
			width: 80%

			.titleDiv
				width: 100%

			.title
				resize: none
				width: 100%
				border: none
				outline: none
				background: transparent
				font-size: 1.5rem
				// float: left
				padding-top: 10px
				padding-bottom: 20px
				// border-bottom: 1px solid black

			.paragraphs
				// display: block
				width: 100%


				.paragraph
					height: auto
					display: flex
					flex-direction: row
					align-items: flex-start
					margin: 0px
					width: 90%
					padding: 20px
					// justify-content: flex-start
					// align-content: flex-start
					.p-num
						margin: 0
						padding-right: 10px
						font-size: 20px
						-webkit-touch-callout: none
				    -webkit-user-select: none
				    -khtml-user-select: none
				    -moz-user-select: none
				    -ms-user-select: none
				    user-select: none
						&:hover
							color: #757575

				.textarea
					width: 100%
					height: auto
					outline: none
					background: transparent
					font-size: 1.2rem
					overflow-x: hidden
					// overflow: auto
					resize: none
					//border
					border: none
					// box-sizing: border-box
					// border: 2px solid #ccc
					// border-radius: 4px
					//-border
					// background-color: #f8f8f8
					// min-height: 100%
					// padding: 12px 20px
					// padding: 1em
					&:empty:not(:focus):before
						content: attr(placeholder)
						color: #757575

.red-shake
	// color: red
	animation: shake 1s cubic-bezier(.36,.07,.19,.97) both
	@include placeholder-color(rgb(209, 0, 0))

$size: 30px

.button-div
	display: flex
	align-items: center
	justify-content: center
	// width: 20%
	.up-icon
		color: white
		font-size: 15px
	.prev-button
		outline: none
		background-color: #1A1A1A
		height: $size
		width: $size * 2
		border: 0px
		border-top-left-radius: $size * 2
		border-top-right-radius: $size * 2
		&:hover
			.up-icon
				color: #00C99C

@media print
	span
		// !important allows you to override inline styling
		color: black !important
	.paragraph
		padding: 5px !important
	.sidebar
		display: none
	.active
		display: none !important
	.tinyPrev
		display: none !important
	.variableInput
		visibility: hidden
		display: none
	.select-button
		visibility: hidden
		display: none
	.editBar
		display: none !important
	.prev-button
		display: none
	.prevContainer
		display: none !important
	.p-num
		display: none
	.files
		display: none
	.whole
		width: 100%
		height: 100%
	.writing
		width: 100vw !important
		height: 100vh !important
	.textarea
		font-size: 22px !important
		overflow: auto
	.content .title
		font-size: 26px !important

@keyframes shake
  10%, 90%
    transform: translate3d(-1px, 0, 0)

  20%, 80%
    transform: translate3d(2px, 0, 0)

  30%, 50%, 70%
    transform: translate3d(-4px, 0, 0)

  40%, 60%
    transform: translate3d(4px, 0, 0)
